<div class="row">
  	<div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8"><div class="card-panel purple lighten-2">
      <h4 class="white-text">Fixdone adalah aplikasi issue tracker pendokumentasi kecacatan perangkat lunak yang di peruntukan untuk seorang QA dalam tracking bug dari perangkat lunak yang tengah dikembangkan
      </h4>
      <br/>
      <br/>
       <blockquote>
      <p class="white-text">Fixdone is a simple issue tracker</p>
    </blockquote>
    </div></div>
    <div class="col s12 m4 l2"><p></p></div>
</div>

<!-- <div class="col s12 m5">
    <div class="card-panel teal">
      <span class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
      </span>
    </div>
  </div -->