<footer class="page-footer teal">
<div class="footer-copyright">
  <div class="container">
  Made by &copy <a class="brown-text text-lighten-3" href="http://kodejs.com">kodejs.com</a>
  </div>
</div>
</footer>