<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Fixdone</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="#section3">Support</a></li>
        <li><a href="/sign_in">Sign In</a></li>
    </ul>
  </div>
</nav>